<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css"
        rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>

<body>
    <div class="container-fluid">
        <form action="{% url 'djangoapp:add_review' dealer.id %}" method="POST">
            {% csrf_token %}
            <h1> Add a Review about
                <b>{{ dealer.full_name }}</b></h1>



            <div class="form-group">
                <label for="review_content">
                    <h5>
                        <b>
                            Enter the review content:
                        </b>
                    </h5>
                </label>
                <textarea class="form-control" id="review_content" name="review_content" rows="2" required></textarea>
                <div class = "container-fluid" style = "margin-top: 2em">
                    <span>
                        <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
                    </span>

                    <span>
                        Has purchased the car 
                        from {{dealer.full_name}} ?
                    </span>

                </div>
                <div style="margin-top: 2em; margin-bottom: 2em">
                    <span>

                        <b>
                            Select your car (model-make-year):
                        </b>

                    </span>

                    <span>
                        <select name="car_details" id="car_details" class="form-select" required>
                            {% for car in cars %}
                            <option selected value="{{car.name}}-{{car.make.name}}-{{ car.year }}">
                                {{car.name}}-{{car.make.name}}-{{ car.year }}
                            </option>
                            {% endfor %}
                        </select>
                    </span>
                </div>
                <label for="purchase_date">
                    <h5>
                        <b>
                            Select Your Purchase Date:
                        </b>
                    </h5>
                </label>
                <input class="date-own form-control" type="date" name="purchase_date" id="purchase_date">
                
                <input type="text" value = "{{dealer.id}}" id = "dealership"
                name = "dealership" class="form-control" required hidden>
                <button class="btn btn-primary" type="submit" style="margin-top: 2em;">
                    Submit
                </button>
            </div>

            <!--Add review form here -->

        </form>
    </div>
</body>

<script type="text/javascript">
    $('.date-own').datepicker({
        format: 'mm/dd/yyyy'
    });
</script>

</html>