<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css"
        rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>

<body>
    <form>
        <h1> Add a Review about
            <b>{{ dealer.full_name }}</b></h1>



        <div class="form-group">
            <label for="review_content">
                <h3>
                    <b>
                        Enter the review content:
                    </b>
                </h3>
            </label>
            <textarea class="form-control" id="review_content" rows="3"></textarea>
        </div>

        <!--Add review form here -->

    </form>
</body>

</html>